/* styles.css */

body {
    background-color:blanchedalmond;
}

.container {
    background-color:aqua;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    margin-top: 10px;
}
